<div class="form-container">
  <mat-card-title class="heading">Sign in</mat-card-title> <br><br>
  <form action="" [formGroup]="logIn">
  <mat-form-field appearance="outline">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="email" required>
    <mat-error *ngIf="logIn.get('email').invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field><br>
  </form>
  <button mat-raised-button class="button" (click)="onClickSendValues();" [disabled]="this.logIn.invalid">LOGIN</button>
</div>
