
<div class="main-container">
  <mat-toolbar>
    <span>Student Grading System</span>
    <span class="example-spacer"></span>
    <span class="userName">{{teacher.name}}</span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">person</mat-icon>
    <button mat-stroked-button routerLink="/" (click)="logOut()">Log out</button>
  </mat-toolbar>

  <div class="sub-container">
    <div class="row">
      <div class="column one">
        <h1>Assignments</h1>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let assignment of assignments; let i = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{assignment}}
              </mat-panel-title>
              <mat-panel-description>
                Overall grade details
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table id="teacher">
              <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Number of Attempts</th>
                <th>Calculated Marks</th>
              </tr>
              <tr *ngFor="let student of students;">
                <td>{{student.studentId}}</td>
                <td>{{student.studentName}}</td>
                <td>{{student.assignments[0].numberOfAttempts}}</td>
                <td>{{student.assignments[0].mark}}</td>
              </tr>
            </table>
            <mat-action-row>
              <button mat-button color="primary" (click)="getAssignmentNumber(i); scroll(target); findQuestionsByAssignment(assignmentNumber);">Statistics on questions</button>
            </mat-action-row>
          </mat-expansion-panel>

        </mat-accordion>

      </div>
      <div class="column two">
        <h1>{{this.course}}</h1>
        <h2>{{this.teacher.name}}</h2>
        <p>Email - {{this.teacher.email}}</p>
        <p>Teacher ID - {{this.teacher.teacherId}}</p>
      </div>
    </div>
  </div>

</div>
<div class="review-answers" #target>
  <div class="sub-review">
    <mat-list>
      <div *ngFor="let question of assignmentQuestions; let i = index">
        <div mat-subheader class="question">{{i+1}}.{{question.question}} </div>
        <mat-list-item>
          <div mat-line class="heading">Average time spent : {{findAverageTimeOnQuestion(question.questionNumber - 1,assignmentNumber)}} seconds</div>
        </mat-list-item>
        <mat-list-item>
          <div mat-line>Number of correct answers : {{findNumberOfStudentAnswered(question.questionNumber - 1, assignmentNumber, 'right')}}</div>
        </mat-list-item>
        <mat-list-item>
          <div mat-line>Number of wrong answers : {{findNumberOfStudentAnswered(question.questionNumber - 1, assignmentNumber, 'wrong')}}</div>
        </mat-list-item>
        <mat-list-item>
          <div mat-line>Number of partial answers : {{findNumberOfStudentAnswered(question.questionNumber - 1, assignmentNumber, 'partial')}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </div>
</div>


